<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">price</th>
            <th scope="col">description</th>
            <th scope="col">category</th>
            <th scope="col">image</th>
            <th scope="col"><i class="fas fa-edit"></i></th>
            <th scope="col"><i class="fas fa-trash-alt"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let p of productArray" [ngStyle]="{'bgcolor':p.price < 50 ? 'yellow' : '' }">
          <!-- <tr *ngFor = "let p of productArray" *ngIf="'bgcolor':p<50">  -->
          <tr *ngFor = "let p of productArray" [ngClass]="{'bgcolor':p.price < 50}">
            <td>{{p.id}}</td>
            <td>{{p.price}}</td>
            <td>{{p.description}}</td>
            <td>{{p.category}}</td>
            <td><img style="height: 250px; width: 250px;" src="{{p.image}}"/></td>
            <td><i class="fas fa-edit"></i></td>
            <td><button class="btn" (click)="deleteproduct(data)"><i class="fas fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
